<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <l1 class="main-header__item"><a class="<%= path === '/'? 'active' : '' %>" href="/">Shop</a></l1>
            <l1 class="main-header__item"><a class="<%= path === '/admin/add-product'? 'active' : '' %>"href="/admin/add-product">Add Product</a></l1>
        </ul>
    </nav>
</header>